* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: #0f0f0f;
}
main {
  display: grid;
  grid-template-columns: 20vw 80vw;
  grid-template-rows: 10vh 80vh;
  background-color: #0f0f0f;
}
aside {
  grid-row: 1/4;
  border: 1px solid rgb(18, 2, 29);
  color: white;
  display: grid;
  gap: 20px;
  align-content: start;
}
aside div {
  display: flex;
  align-items: center;
  padding: 0px 5px;
  margin-left: 10px;
  gap: 20px;
}
aside div i {
  font-size: 25px;
}
.logo_div {
  margin-top: 15px;
}
.image {
  width: 2vw;
  height: 2vw;
  border-radius: 50px;
}

.web-div {
  border-radius: 50%;
}
.logo_div {
  border-radius: 50%;
}
.hr {
  height: 1px;
  background-color: white;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
  color: white;
}
.searchsection {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-left: 100px;
}
.searchsection form {
  display: flex;
  height: 6vh;
}
.searchsection form input {
  width: 40vw;
  padding-left: 10px;
  background-color: transparent;
  border: 1px solid #222222;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.searchsection form button {
  background-color: #222222;
  border: 1px solid #222222;
  width: 50px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  color: white;
}
header i {
  font-size: 18px;
}
header button {
  background: none;
  border: none;
  color: white;
}
.mic {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: #222222;
}
.profilesection {
  display: flex;
  align-items: center;
  gap: 10px;
}
nav {
  display: flex;
  gap: 10px;
  padding: 0px 10px;
  overflow: auto;
  height: 50px;
}
nav a {
  background-color: #222222;
  margin: 10px;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  text-wrap: nowrap;
  padding: 8px;
  text-align: center;
}

nav::-webkit-scrollbar {
  display: none;
}
.videocontainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}
.videocontainer figure {
  color: white;
  gap: 20px;
  margin: 1px;
}
.videocontainer figure img {
}
.div {
  display: flex;
  gap: 25px;
}
.thumbnail {
  border-radius: 10px;
}
.avatar {
  border-radius: 100%;
}
